/images/.DS_Store
/images/crops/.DS_Store
/images/crops/wheat/.DS_Store
/__pycache__/field_report_dialog_class.cpython-33.pyc
/__pycache__/field_resources.cpython-33.pyc
/.DS_Store
/__pycache__/field_class.cpython-33.pyc
/__pycache__/field_manual_grow_dialog_class.cpython-33.pyc
/__pycache__/graphic_animal_item_class.cpython-33.pyc
/__pycache__/graphic_cow_item_class.cpython-33.pyc
/__pycache__/graphic_crop_item_class.cpython-33.pyc
/__pycache__/graphic_drag_label_class.cpython-33.pyc
/__pycache__/graphic_field_item_class.cpython-33.pyc
/__pycache__/graphic_field_scene_class.cpython-33.pyc
/__pycache__/graphic_potato_item_class.cpython-33.pyc
/__pycache__/graphic_sheep_item_class.cpython-33.pyc
/__pycache__/graphic_wheat_item_class.cpython-33.pyc
/__pycache__/animal_class.cpython-33.pyc
/__pycache__/animal_class.cpython-34.pyc
/__pycache__/cow_class.cpython-33.pyc
/__pycache__/cow_class.cpython-34.pyc
/__pycache__/crop_class.cpython-33.pyc
/__pycache__/crop_class.cpython-34.pyc
/__pycache__/field_class.cpython-34.pyc
/__pycache__/field_manual_grow_dialog_class.cpython-34.pyc
/__pycache__/field_report_dialog_class.cpython-34.pyc
/__pycache__/field_resources.cpython-34.pyc
/__pycache__/graphic_animal_item_class.cpython-34.pyc
/__pycache__/graphic_cow_item_class.cpython-34.pyc
/__pycache__/graphic_crop_item_class.cpython-34.pyc
/__pycache__/graphic_drag_label_class.cpython-34.pyc
/__pycache__/graphic_field_item_class.cpython-34.pyc
/__pycache__/graphic_field_scene_class.cpython-34.pyc
/__pycache__/graphic_potato_item_class.cpython-34.pyc
/__pycache__/graphic_sheep_item_class.cpython-34.pyc
/__pycache__/graphic_wheat_item_class.cpython-34.pyc

/__pycache__/potato_class.cpython-33.pyc
/__pycache__/potato_class.cpython-34.pyc
/__pycache__/sheep_class.cpython-33.pyc
/__pycache__/sheep_class.cpython-34.pyc
/__pycache__/wheat_class.cpython-33.pyc
/__pycache__/wheat_class.cpython-34.pyc
